# Importing Libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('dark_background')

#  Reading CSV

In [2]:
df = pd.read_csv('../input/swiggys-top-rated-restaurants-in-delhi/rest_delhi1.csv')
df.head()

,name,cuisine,location,rating,num_of_rating,price_for_two
0,Momo Maker,"Snacks, Tandoor","CentraL Market, Lajpat Nagar",4.7,20+ ratings,₹ 200
1,Moets Kulfi,"Desserts, Beverages","Defence colony market, Defence Colony",4.7,50+ ratings,₹ 200
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai","Near Metro Station, Shakarpur Khas",4.7,1K+ ratings,₹ 500
3,Triveni Terrace Cafe,Indian,"Opposite FICCI Auditorium, Mandi House",4.7,50+ ratings,₹ 400
4,Momo Guy,"Chinese, Tibetan","GTB Nagar, GTB Nagar",4.6,20+ ratings,₹ 200

In [3]:
df.shape

(912, 6)

In [4]:
df.columns

Index(['name', 'cuisine', 'location', 'rating', 'num_of_rating',
       'price_for_two'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           912 non-null    object
 1   cuisine        912 non-null    object
 2   location       912 non-null    object
 3   rating         912 non-null    object
 4   num_of_rating  912 non-null    object
 5   price_for_two  912 non-null    object
dtypes: object(6)
memory usage: 42.9+ KB

# Dropping Duplicates

In [6]:
df.drop_duplicates(inplace = True)
df.shape

(764, 6)

# Cleaning rating column

In [7]:
df['rating'].unique()

array(['4.7', '4.6', '4.5', '4.4', '4.3', '4.2', '4.1', '4.0', '3.9',
       '3.8', '3.7', '3.6', '3.5', '3.4', '3.3', '3.2', '3.1', '3.0',
       '2.9', '2.8', '2.7', '2.3', '2.2', '--'], dtype=object)

# Removing '--' from rating column

In [8]:
'''def handlerating(value):
    if value=='--':
        return np.nan
    else:
        return float(value)
    
df['rating'] = df['rating'].apply(handlerating)'''
df['rating'].head()

0    4.7
1    4.7
2    4.7
3    4.7
4    4.6
Name: rating, dtype: object

In [9]:
df.rating.isnull().sum()

0

# Filling Null values in Rating column with Mean

In [10]:
'''df['rating'].fillna(df['rating'].mean(), inplace = True)
df['rating'].isnull().sum()'''

"df['rating'].fillna(df['rating'].mean(), inplace = True)\ndf['rating'].isnull().sum()"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 764 entries, 0 to 911
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           764 non-null    object
 1   cuisine        764 non-null    object
 2   location       764 non-null    object
 3   rating         764 non-null    object
 4   num_of_rating  764 non-null    object
 5   price_for_two  764 non-null    object
dtypes: object(6)
memory usage: 41.8+ KB

In [12]:
df.head()

,name,cuisine,location,rating,num_of_rating,price_for_two
0,Momo Maker,"Snacks, Tandoor","CentraL Market, Lajpat Nagar",4.7,20+ ratings,₹ 200
1,Moets Kulfi,"Desserts, Beverages","Defence colony market, Defence Colony",4.7,50+ ratings,₹ 200
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai","Near Metro Station, Shakarpur Khas",4.7,1K+ ratings,₹ 500
3,Triveni Terrace Cafe,Indian,"Opposite FICCI Auditorium, Mandi House",4.7,50+ ratings,₹ 400
4,Momo Guy,"Chinese, Tibetan","GTB Nagar, GTB Nagar",4.6,20+ ratings,₹ 200

In [13]:
df.rename(columns = {'price_for_two':'cost2plates'},inplace=True)
df.head()

,name,cuisine,location,rating,num_of_rating,cost2plates
0,Momo Maker,"Snacks, Tandoor","CentraL Market, Lajpat Nagar",4.7,20+ ratings,₹ 200
1,Moets Kulfi,"Desserts, Beverages","Defence colony market, Defence Colony",4.7,50+ ratings,₹ 200
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai","Near Metro Station, Shakarpur Khas",4.7,1K+ ratings,₹ 500
3,Triveni Terrace Cafe,Indian,"Opposite FICCI Auditorium, Mandi House",4.7,50+ ratings,₹ 400
4,Momo Guy,"Chinese, Tibetan","GTB Nagar, GTB Nagar",4.6,20+ ratings,₹ 200

In [14]:
df['cost2plates'].unique()

array(['₹ 200', '₹ 500', '₹ 400', '₹ 150', '₹ 350', '₹ 600', '₹ 300',
       '₹ 1500', '₹ 1400', '₹ 800', '₹ 250', '₹ 120', '₹ 100', '₹ 550',
       '₹ 450', '₹ 1200', '₹ 220', '₹ 1100', '₹ 900', '₹ 180', '₹ 1000',
       '₹ 1800', '₹ 225', '₹ 850', '₹ 700', '₹ 229', '₹ 160', '₹ 270',
       '₹ 1050', '₹ 149', '₹ 299', '₹ 499', '₹ 80', '₹ 75', '₹ 430',
       '₹ 1300', '₹ 99', '₹ 280', '₹ 240', '₹ 750', '₹ 399'], dtype=object)

In [15]:
def handle_rupeesign(value):
    value = str(value)
    if '₹' in value:
        value = value.replace('₹', '')
        return float(value)
    else:
        return float(value)
    
df['cost2plates'] = df['cost2plates'].apply(handle_rupeesign)
df['cost2plates'].unique()

array([ 200.,  500.,  400.,  150.,  350.,  600.,  300., 1500., 1400.,
        800.,  250.,  120.,  100.,  550.,  450., 1200.,  220., 1100.,
        900.,  180., 1000., 1800.,  225.,  850.,  700.,  229.,  160.,
        270., 1050.,  149.,  299.,  499.,   80.,   75.,  430., 1300.,
         99.,  280.,  240.,  750.,  399.])

In [16]:
df.head()

,name,cuisine,location,rating,num_of_rating,cost2plates
0,Momo Maker,"Snacks, Tandoor","CentraL Market, Lajpat Nagar",4.7,20+ ratings,200.0
1,Moets Kulfi,"Desserts, Beverages","Defence colony market, Defence Colony",4.7,50+ ratings,200.0
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai","Near Metro Station, Shakarpur Khas",4.7,1K+ ratings,500.0
3,Triveni Terrace Cafe,Indian,"Opposite FICCI Auditorium, Mandi House",4.7,50+ ratings,400.0
4,Momo Guy,"Chinese, Tibetan","GTB Nagar, GTB Nagar",4.6,20+ ratings,200.0

In [17]:
df['location'].value_counts()

Laxmi Nagar, Laxmi Nagar                          114
Lajpat Nagar, Lajpat Nagar                         59
Connaught Place, Connaught Place                   33
GTB Nagar, GTB Nagar                               32
South Extension, South Extension                   31
                                                 ...
Opp Rajiv Chowk Metro Station, Connaught Place      1
Connaught Circle, Connaught Place                   1
Hanuman Road Area, Connaught Place                  1
Chuna Mandi, Paharganj, Paharganj                   1
South Extension, Hauz Khas                          1
Name: location, Length: 301, dtype: int64

In [18]:
location = df['location'].value_counts(ascending  = False)

location_lessthan3 = location[location<3]

def handle_location(value):
    if(value in location_lessthan3):
        return 'others'
    else:
        return value
        
df['location'] = df['location'].apply(handle_location)
df['location'].value_counts()

others                                    304
Laxmi Nagar, Laxmi Nagar                  114
Lajpat Nagar, Lajpat Nagar                 59
Connaught Place, Connaught Place           33
GTB Nagar, GTB Nagar                       32
South Extension, South Extension           31
Ashok Vihar, Ashok Vihar                   23
Mayur Vihar, Mayur Vihar                   19
South Campus, South Campus                 12
Laxmi Nagar, Shakarpur Khas                12
Laxmi Nagar, Krishna Nagar                 10
Kirti Nagar, Kirti Nagar                    9
Laxmi Nagar, Geeta Colony                   8
South Campus, Chanakyapuri                  8
Karol Bagh, Karol Bagh                      7
GTB Nagar, Vijay Nagar                      6
South Extension, South Extension I          6
Defence Colony, Defence Colony              6
Daryaganj, Daryaganj                        6
GTB Nagar, Mukherjee Nagar                  5
Gole Market, Gole Market                    5
R.K Puram, Rama Krishna Puram               4
South Extension, Defence Colony             4
Karol Bagh, Paharganj                       4
Nagar, Laxmi                                4
Laxmi Nagar, Shahdara                       3
Krishna Nagar, Krishna Nagar                3
Shahdara, Shahdara                          3
Near Metro Station, Shakarpur Khas          3
GTB Nagar, Gtb Nagar                        3
Safdarjung Enclave, Safdarjung Enclave      3
Lajpat Nagar, Defence Colony                3
Old Delhi, Old Delhi                        3
Mayur Vihar, Patparganj                     3
Greater Kailash 2, Lajpat Nagar             3
Janakpuri, Janakpuri                        3
Name: location, dtype: int64

In [19]:
df.head()

,name,cuisine,location,rating,num_of_rating,cost2plates
0,Momo Maker,"Snacks, Tandoor",others,4.7,20+ ratings,200.0
1,Moets Kulfi,"Desserts, Beverages",others,4.7,50+ ratings,200.0
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai","Near Metro Station, Shakarpur Khas",4.7,1K+ ratings,500.0
3,Triveni Terrace Cafe,Indian,others,4.7,50+ ratings,400.0
4,Momo Guy,"Chinese, Tibetan","GTB Nagar, GTB Nagar",4.6,20+ ratings,200.0

In [20]:
def handle_location(value):
    words = value.split(',')
    return words[0].strip()
df['location'] = df['location'].apply(handle_location)
df['location'].head()

0                others
1                others
2    Near Metro Station
3                others
4             GTB Nagar
Name: location, dtype: object

In [21]:
df['location'].unique()

array(['others', 'Near Metro Station', 'GTB Nagar', 'Laxmi Nagar',
       'Ashok Vihar', 'Lajpat Nagar', 'South Extension', 'Daryaganj',
       'Gole Market', 'Connaught Place', 'Kirti Nagar', 'South Campus',
       'Old Delhi', 'Safdarjung Enclave', 'Mayur Vihar', 'Defence Colony',
       'Greater Kailash 2', 'Karol Bagh', 'Nagar', 'Shahdara',
       'Krishna Nagar', 'R.K Puram', 'Janakpuri'], dtype=object)

In [22]:
zoneDict = {'others':'Central Delhi', 'GTB Nagar':'North Delhi', 'South Extension':'South Delhi', 'Connaught Place':'Central Delhi',
       'Laxmi Nagar':'East Delhi','Near Metro Station':'Central Delhi', 'Lajpat Nagar':'East Delhi','Ashok Vihar':'West Delhi','Daryaganj':'Central Delhi',
       'Gole Market':'Central Delhi', 'Kirti Nagar':'West Delhi', 'South Campus':'South',
       'Old Delhi':'Central Delhi', 'Safdarjung Enclave':'South Delhi', 'Mayur Vihar':'East Delhi', 'Defence Colony':'East Delhi',
       'Greater Kailash 2':'South Delhi', 'Karol Bagh':'Central Delhi', 'Nagar':'Central Delhi', 'Shahdara':'North Delhi',
       'Krishna Nagar':'East Delhi', 'R.K Puram':'South Delhi', 'Janakpuri':'West Delhi' }
df["zone"] = df["location"].map(zoneDict)
df.head()

,name,cuisine,location,rating,num_of_rating,cost2plates,zone
0,Momo Maker,"Snacks, Tandoor",others,4.7,20+ ratings,200.0,Central Delhi
1,Moets Kulfi,"Desserts, Beverages",others,4.7,50+ ratings,200.0,Central Delhi
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai",Near Metro Station,4.7,1K+ ratings,500.0,Central Delhi
3,Triveni Terrace Cafe,Indian,others,4.7,50+ ratings,400.0,Central Delhi
4,Momo Guy,"Chinese, Tibetan",GTB Nagar,4.6,20+ ratings,200.0,North Delhi

In [23]:
df['cost2plates'].unique()

array([ 200.,  500.,  400.,  150.,  350.,  600.,  300., 1500., 1400.,
        800.,  250.,  120.,  100.,  550.,  450., 1200.,  220., 1100.,
        900.,  180., 1000., 1800.,  225.,  850.,  700.,  229.,  160.,
        270., 1050.,  149.,  299.,  499.,   80.,   75.,  430., 1300.,
         99.,  280.,  240.,  750.,  399.])

In [24]:
df.loc[df["cost2plates"] <= 400, "price_range"] = "₹"
df.loc[df["cost2plates"] >400, "price_range"] = "₹₹"
df.loc[df["cost2plates"] >=1000, "price_range"] = "₹₹₹"
df.head()

,name,cuisine,location,rating,num_of_rating,cost2plates,zone,price_range
0,Momo Maker,"Snacks, Tandoor",others,4.7,20+ ratings,200.0,Central Delhi,₹
1,Moets Kulfi,"Desserts, Beverages",others,4.7,50+ ratings,200.0,Central Delhi,₹
2,Behrouz Biryani - Royal & Safe,"Biryani, Mughlai",Near Metro Station,4.7,1K+ ratings,500.0,Central Delhi,₹₹
3,Triveni Terrace Cafe,Indian,others,4.7,50+ ratings,400.0,Central Delhi,₹
4,Momo Guy,"Chinese, Tibetan",GTB Nagar,4.6,20+ ratings,200.0,North Delhi,₹